/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-block-start: 100px;
  color: var(--text-color, #000000);
  background-color: var(--page-background-color, #ffffff);
  background-image: var(--page-background-image, none);
  font-family: var(--page-main-font-family, "Inter", sans-serif);
  background-attachment: fixed;
  background-size: cover;
  /* font-variation-settings: "wght" var(--page-main-font-weight, 400); */
}

/* ФИЛЬТРЫ КАРТИНОК */
.filter-grayscale {
  filter: grayscale(70%);
}

.filter-saturate {
  filter: saturate(250%);
}

.filter-multiple {
  filter: contrast(50%) hue-rotate(35deg) saturate(130%);
}

.filter-invert {
  filter: invert(100%);
}

.filter-sepia {
  filter: sepia(90%);
}

.filter-blur {
  filter: blur(10px);
}

.filter-hue-rotate {
  filter: hue-rotate(210deg) blur(5px);
}

.page__header {
  margin-block-end: 100px;
}

/* ДИАЛОГОВОЕ ОКНО */
.modal {
  padding: 25px 30px;
  font-family: var(--page-font-family, "PressStart2P", fantasy);
  max-inline-size: 355px;
  color: var(--text-color, #000000);
  line-height: 1.5;
  text-transform: uppercase;
  background: var(--page-background-color, #ffffff);
  border: 2px solid var(--text-color, #000000);
}

.modal__content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.modal__icon {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.modal__button {
  inline-size: 100%;
}

.modal::backdrop {
  opacity: 0.75;
  background: var(--color-black, #000000);
}

.modal[open] {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 30px;
}

